@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: 'Nunito Sans';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../Font/pe0OMImSLYBIv1o4X1M8cce4OdVisMz5nZRqy6cmmmU3t3NeCAAFOvV9SNjBw3uBZFI.woff2);
    }
  }

  .customImage{
    width:100%;
    object-fit:cover;
  }

  .customDesign::after{
     content: '';
     position: absolute;
     height: 2px;
     width: 20%;
     background:#f3a847;
     left:0;
     bottom:0;
  }